@import "tailwindcss";
@tailwind utilities;

/* NUCLEAR OPTION - FORCE THESE COLORS TO EXIST */
@layer utilities {
  .bg-btGreen {
    background-color: #D1FD0ACC !important;
  }

  .bg-btred {
    background-color: #ff005c !important;
  }

  .bg-btPurple {
    background-color: #543990 !important;
  }

  .bg-btGrey {
    background-color: #8F8F8F !important;
  }


  .bg-btDark {
    background-color: #080809 !important;
  }

  .bg-newGrey {
    background-color: #161616 !important;
  }

  .bg-newGreyAccent {
    background-color: #1d1d1d !important;
  }

  .bg-newGreyBG {
    background-color: #0d0d0d !important;
  }

  .bg-newGreyBorder {
    background-color: #252525 !important;
  }

  .bg-greycontent {
    background-color: #2C2C2C !important;
  }

  .text-btGreen {
    color: #d1fd0a !important;
  }

  .text-btred {
    color: #ff005c !important;
  }

  .text-btPurple {
    color: #543990 !important;
  }

  .text-btGrey {
    color: #8F8F8F !important;
  }

  .text-btDark {
    color: #080809 !important;
  }

  .text-newGrey {
    color: #161616 !important;
  }

  .text-newGreyAccent {
    color: #1d1d1d !important;
  }

  .text-newGreyBG {
    color: #0d0d0d !important;
  }

  .text-newGreyBorder {
    color: #252525 !important;
  }

  .text-greycontent {
    color: #2C2C2C !important;
  }

  .border-btGreen {
    border-color: #d1fd0a !important;
  }

  .border-btred {
    border-color: #ff005c !important;
  }

  .border-btPurple {
    border-color: #543990 !important;
  }

  .border-btGrey {
    border-color: #8F8F8F !important;
  }

  .border-btDark {
    border-color: #080809 !important;
  }

  .border-newGrey {
    border-color: #161616 !important;
  }

  .border-newGreyAccent {
    border-color: #1d1d1d !important;
  }

  .border-newGreyBG {
    border-color: #0d0d0d !important;
  }

  .border-newGreyBorder {
    border-color: #252525 !important;
  }

  .border-greycontent {
    border-color: #2C2C2C !important;
  }
}

/* Base styles */
:root {
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", Courier, monospace;
}

body {
  background-image: url('/images/background.jpg');
  background-color: #080809;
  color: #f1f5f9;
  font-family: var(--font-geist-sans);
}

/* Custom animations */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-delayed {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 3s ease-in-out infinite 1.5s;
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}